body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  .swim-lanes {
    min-height: 60vh;
  }
  
  .card {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .card:hover {
    cursor: grab;
  }
  
  .card .btn {
    margin-top: 5px;
  }
  
  .near-deadline {
    background-color: yellow;
  }
  
  .overdue {
    background-color: red;
  }
  